/* General Properties */

:root {
    --primary-theme-color: #7196A6;
    --secondary-theme-color: white;
    --tertiary-theme-color: #5E5E5E;
}

body {
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

div {
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.input {
    background-color: var(--tertiary-theme-color);
    color: var(--secondary-theme-color);
}

button {
    border-width: 0;
}

/* Alarm Time Div */

#alarm-time {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Alarm Form */

#alarm-form {
    padding: 20px 0;
    margin: 10px;
    border: solid var(--tertiary-theme-color) 5px;
    box-sizing: border-box;
}

#alarm-form-time {
    --alarm-form-time-font-size: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--alarm-form-time-font-size);
    margin-bottom: 20px;
}

#alarm-form-time > input {
    font-family: sans-serif;
    font-size: var(--alarm-form-time-font-size);
    margin-left: 5%;
    border: solid var(--tertiary-theme-color) 5px;
}

/* Days Container */

#days-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Alarm Sounds Container */

#alarm-sounds-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}

#alarm-sounds-container > select {
    font-size: 2rem;
    margin-left: -10%;
    border-width: 0;
}

/* Set Alarm Button */

#set-alarm-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#set-alarm {
    height: 50px;
    width: 15%;
    font-size: 1.5rem;
}

/* Alarms Container */

#alarms-container {
    width: 100%;
}

.alarm-container {
    position: relative;
    width: 95%;
    height: 110px;
    border: solid var(--tertiary-theme-color) 5px;
    margin: 5px 10px;
    box-sizing: border-box;
}

.alarm-container-time {
    font-size: 3rem;
    margin: 0 5% 0 5%;
}

.alarm-sound-name {
    position: absolute;
    top: 70px;
    right: 25%;
    font-weight: bold;
}

.alarm-container-button {
    position: absolute;
    top: 25%;
    right: 5%;
    font-size: 1rem;
    padding: 1%;
}